<?xml version="1.0"?>
<model>
  <name>USBL Beacon</name>
  <version>1.0</version>
  <sdf version='1.6'>usbl_beacon.sdf</sdf>

  <author>
    <name>Laughlin Barker</name>
    <email>laughlin@jhu.edu</email>
  </author>

  <description>
    A simulated USBL beacon, with link named "beacon".
  </description>
</model>