<?xml version='1.0'?>
	<robot name="dvl" xmlns:xacro="http://www.ros.org/wiki/xacro" >
		<xacro:property name="length" value="0.2"	/> <!--X-->
		<xacro:property name="width" value="0.2" /> <!--Y-->
		<xacro:property name="height" value="0.2"	/> <!--Z-->
		
        <xacro:include filename="$(find under_ice_sim_gazebo)/models/dvl/dvl.gazebo" />
		
  <link name="dvl_sensor_body">
    <!--
  	<collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
			<box size="${width} ${width} ${height}"/>
      </geometry>
    </collision>
-->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="${length} ${width} ${height}"/>
      </geometry>
      <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
	  ixx="1" ixy="0.0" ixz="0.0"
	  iyy="1" iyz="0.0"
	  izz="1"/>
    </inertial>
    
  </link>
</robot>