<?xml version="1.0"?>

<model>
  <name>GPS unit</name>
  <version>1.0</version>
  <sdf version='1.4'>gps.sdf</sdf>

  <author>
    <name>Laughlin Barker</name>
    <email>laughlin@jhu.edu</email>
  </author>

  <description>
    A simulated GPS with plugin that uses WGS84 elipsoid model.
  </description>
</model>