<?xml version="1.0"?>

<model>
  <name>USBL Dunking Transducer</name>
  <version>1.0</version>
  <sdf version='1.6'>usbl_dunker.sdf</sdf>

  <author>
    <name>Laughlin Barker</name>
    <email>laughlin@jhu.edu</email>
  </author>

  <description>
    A simulated USBL Dunking transducer.
  </description>
</model>